<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Acerca de </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Procesamiento Lenguaje Natural</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
        <hr>
            <div class="col">
                <h3 style="text-align: center;">Escuela Superior de Computo</h3>
                <h4>Licenciatura en Ciencia de Datos</h4>    
            <img src="https://www.creadores.unam.mx/wp-content/uploads/2019/04/Escuela-Superior-de-Co%CC%81mputo.jpg" class="img-fluid">
                <small style="text-align: center;">Foto: Explanada  Escuela Superior de Computo</small>
            </div>
           
             <div class="col">
                <h3 style="text-align: center;">¿Quienes somos?</h3>
                <h5>Somos un equipo de estudiantes de LCD formado para la Materia de COE de la Maestra Ana Maria Winfield Reyes</h5>
                <h5>Conformado por:</h5>
                <ul>
                    <li>Guerrero Paisano Jesedh</li>
                    <li>Huerta Ramírez Michael Adolfo</li>
                    <li>Sainz Takata Juan Pablo Minoru</li>
                </ul>
                <h6>Desarrollamos este blog para dar a informar acerca del procesamiento de lenguaje de natural, sus problematicas y el como los Cientificos de Datos estan resolviendolos continuamente.</h6>
                <h6>Acompaños a conocer más acerca de este fascinante mundo.</h6>
                <h6>Contacto: <a href="mailto:adolfocuentas123@gmail.com">Correo de Contacto de uno de nuestros Editores</a></h6>
             </div>       

    </div>
    <div class="jumbotron">

    </div>

    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Procesamiento Lenguaje Natural 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
