<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Procesamiento Lenguaje Natural</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nosotros">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">¿Para qué sirve el PLN? </h1>
        <h6>Tiempo lectura: 8 minutos, lo mismo que ver un video en Youtube</h6>
        <!-- Author -->
        <p class="lead">
          por
          <a href="#">Adolfo, Jesedh, Minoru </a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Subido el 7 de Enero 2021 </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://i1.wp.com/prometeusgs.com/wp-content/uploads/2019/02/Procesamiento-lenguaje-natural.jpg?fit=1024%2C512&ssl=1" alt="">

        <hr>

        <!-- Post Content -->
        <p  style="text-align: justify;" class="lead">El procesamiento del lenguaje natural (PLN o NLP), se utiliza actualmente en diferentes áreas y para distintas funciones, como por ejemplo:</p>

        <p style="text-align: justify;"> 
            <ol>
            <li>Comprensión del lenguaje natural (CLN o NLU)
            La comprensión del lenguaje natural (CLN o NLU) es la parte del procesamiento del lenguaje natural que se encarga de interpretar un mensaje y entender su significado e intención, tal y como haría una persona. Para que el sistema funcione necesita datasets en el idioma específico, reglas de gramática, teoría semántica y pragmática (para entender el contexto e intencionalidad), etc.[2] 
            </li>
            <li>Generación del lenguaje natural (GLN o NLG)
                La generación del lenguaje natural (GLN o NLG) dota a la máquina de la capacidad de crear un nuevo mensaje en lenguaje humano de manera autónoma. De manera resumida, lo que hacen estos modelos es: escoger la información a reproducir (dependiendo de la interpretación del mensaje a contestar), decidir cómo organizarla y cómo reproducirla (léxico y recursos gramaticales, morfología, estructuras sintácticas, etc.). Estos modelos generan frases nuevas palabra a palabra y tienen que ser entrenados para que funcionen correctamente.[2] 
                </li>
                <li>Recuperación de información (RI o IR)
                    La recuperación de información (RI) o en inglés Information Retrieval (IR), es el campo dentro de la informática que se encarga de procesar textos de documentos, para poder recuperar partes específicas en base a palabras clave. Por ejemplo técnicas como la extracción de información estructurada (permite obtener de un documento el trozo de texto  en el que está lo que buscas) o los sistemas de respuesta a preguntas de usuarios (que devuelve ante una consulta, una respuesta de una batería de respuestas ya existentes, asociadas a palabras clave de la consulta). No genera nuevas frases, por lo que no necesita utilizar reglas gramaticales. No es tan “inteligente” como la Generación del Lenguaje Natural.[2] 
                    </li>
                    <li>Reconocimiento y síntesis del habla
                        Los sistemas de reconocimiento de voz procesan los mensajes en voz humana, los transforman en texto, los interpretan y comprenden la intencionalidad de los mismos, y tras la generación de la respuesta en texto, se vuelve a transformar en voz humana a través de la síntesis de voz. La síntesis del habla o de voz, es la que capacita a la máquina para poder generar y reproducir habla en lenguaje natural.[2] 
                        </li>
                        <li>Traducción automática
                            La Traducción automática o Machine Translation en inglés, es un campo de investigación dentro de la lingüística computacional que estudia los sistemas capaces de traducir mensajes entre diferentes lenguas o idiomas. Por ejemplo Google es una de las empresas que más ha invertido en sistemas de traducción automática, con su traductor que utiliza un motor estadístico propio. Los sistemas de autocorrección y autocompletado de texto, también utilizan Procesamiento del Lenguaje Natural (PLN o NLP).[2] 
                            </li>
                            <li>Resumen y clasificación de textos
                                También se está utilizando el procesamiento del lenguaje natural para resumir textos de extensiones largas de manera automática o extraer palabras clave para clasificarlos. Muchas veces, debido a la gran cantidad de documentación o por la longitud de la misma, utilizar estos sistemas ayuda en sectores como el legal a encontrar partes dentro de las leyes, o resumir una gran cantidad de documentación.[2] 
                                </li>
                                <li>Detección de sentimientos o emociones
                                    Uno de los usos más novedosos del PLN es el análisis de sentimientos. Cada vez más empresas y profesionales del marketing están utilizando esta tecnología para saber qué sienten los usuarios sobre una marca, producto o servicio, utilizando datos de entrada como mensajes, comentarios o reacciones en diferentes redes sociales.
                                    </li>
            </ol>
            <p><h3>¿Qué beneficios brinda el avance en el Procesamiento del Lenguaje Natural?</h3></p>
              <p>
                Principalmente se habla de la constante evolución tecnológica , el aprovechamiento de recursos y la mejor manera de mostrar accesibilidad para lograr tareas de una manera más rápida y de mayor calidad. Tiene un amplio campo de usos el PLC, pero la interacción humano -máquina de una manera más fluida, clara, y útil es lo que más resulta prometedor. La sencillez de tener una respuesta personalizada a un problema específico con la rapidez de enunciar lo que requerimos para que un servicio procese nuestra petición y brinde una respuesta detallada, ayudará enormemente al usuario a completar tareas de una manera muy eficaz.
                [6]</p>
          </p>
        <img  class="img-fluid" src="https://miro.medium.com/max/1080/1*KrazZJO_VpiZe1vnj1SP8g.png" >

       

        <blockquote class="blockquote">
          <p style="text-align: justify;" class="mb-0">“Uno de nuestros grandes objetivos es hacer una búsqueda que realmente comprenda exactamente lo que quiere, que comprenda todo en el mundo. Como informáticos, llamamos a eso inteligencia artificial «.</p>
          <footer class="blockquote-footer">Larry Page
            <cite title="Source Title">Ingeniero de sistemas y empresario. Cofundador de Google./cite>
          </footer>
        </blockquote>

        <small>2.-Patricia Pradas. (2019). Procesamiento del Lenguaje Natural (PLN o NLP): qué es y para qué se utiliza. 07/12/2020, de Decide Sitio web: <a href="https://decidesoluciones.es/procesamiento-del-lenguaje-natural-pln-o-nlp-que-es-y-para-que-se-utiliza/">Enlace</a></small>
        <br>
        <small>6.-Mariani, Joseph; Francopoulo, Gil; Paroubek, Patrick (2019), «The NLP4NLP Corpus (I): 50 Years of Publication Collaboration and Citation in Speech and Language Processing», Frontiers in Research Metrics and Analytics</small>
        

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Deja un comentario:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
        

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Buscar</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="En construccion...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Ir!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Inteligencia Artificial</a>
                  </li>
                  <li>
                    <a href="#">Lenguaje Natural</a>
                  </li>
                  <li>
                    <a href="#">Ciencia de Datos</a>
                  </li>
                  <li>
                    <a href="#">Procesamiento Datos</a>
                  </li>
                </ul>
              </div>
             
            </div>
          </div>
        </div>

        

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Procesamiento Lenguaje Natural 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
